{% extends "::base.html.twig" %}

{% block title %}AppBundle:ManualTiming:index{% endblock %}

{% block body %}
<h1>Welcome to the ManualTiming:index page</h1>

<div id="" class="">

{% for team in teams %}
    <div id="" class="">
        <p>{{ team.name }}</p>


    </div>
{% endfor %}

</div>
{% endblock %}
