{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Timing</h1>

{% include "AppBundle:Timing:item.html.twig" with { 'entity': entity } %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('timing') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('timing_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
