{% extends 'base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Ranking edit{% endtrans %}</h1>


    {{ include('Ranking/_form.html.twig', {'button_label': 'Update'}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ranking') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    {{ include('Ranking/_delete_form.html.twig') }}
</ul>
{% endblock %}
