/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.php~
/web/highcharts/*
/web/jqcountdown/
/web/jquery-stopwatch/
/web/js/
/web/css/
/web/teams.css
/added
/data
/*.zip
