
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
                <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <title>Matsport Live - Prestataire de chronomtrage sportif</title>

                <LINK REL="SHORTCUT ICON" HREF="http://www.matsportweb.com/TIMING/favicon.ico">
                <meta name="verify-v1" content="sC5mkmnmwArzZf8rSsbeCnL4IPnRM7j5waPrzBk6Zok=">
                <meta name="description" content="Société de chronométrage sportif. Gestion d'inscriptions, gestion des résultats en direct (Live), affichage sur panneau, diplomes." >
                <meta name="keywords" content="Matsport, Timing, Live, chronométrage, Affichage sportif, panneaux d'affichage, horloges, classements, sport, alge, microgate, cellule, photo-finish, photofinish, résultat, direct, Inscription, Cyclisme, Athlétisme, CO, Hippodrome, roller, masse, marathon, 24 heures, trail, ski, rallye, Ipico, Dag system, chronélec, lynx, finishlynx">
                <meta name="GENERATOR" content="Namo WebEditor">
                <meta content="text/html" name="keywords" LANG="fr">
                <meta name="robots" content="index,follow,all">
                <meta name="revisit-after" content="15 days">
                <link rel="stylesheet" href="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/css/style.css">
                <link rel="stylesheet" href='http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/slideshow1.css' type="text/css" />
				<script type="text/javascript" src="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/xfade2.js"></script>
                <script type="text/javascript" src="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/swfobject.js"></script>
                <script>
				</script>

                </head>
                <body oncontextmenu="return false" leftmargin="O" topmargin="5" bgcolor="#333333">
                <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f4f4f4">
                <tr>
                    <td width="2" background="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/images/sousous.jpg" rowspan="6"></td>
                    <td>
                        <div align="left"><img src="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/images/logolive.png"></div></td>
                     </td>
                     <td valign="top">

                     ﻿<table border='0' cellpadding="0" cellspacing='1' width='200'>
<tr>
	<td rowspan="4" bgcolor="#990000" width="1"></td>
	<td><a href="http://www.matsportiming.com" target="_blank"><span class="Style5">Timing : </span></a>
    <span class="Style9">matériel de chronométrage.</span></td>
</tr>
<tr>
	<td><a href="http://www.mediceval.fr/" target="_blank"><span class="Style5">Mediceval : </span></a>
    <span class="Style9">matériel médical.</span></td>
</tr>
<tr>
	<td><a href="http://www.matsportraining.com" target="_blank"><span class="Style5">Training : </span></a>
    <span class="Style9">matériel pour la performance.</span></td>
</tr>
</table>
                     <td>
                     <td width="2" background="http://www.matsport.fr.php53-23.ord1-1.websitetestlink.com/images/barre-droite.jpg" rowspan="6"></td>
                 </tr>
                <tr align="left">
                <td align="left" colspan="2">
                <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Style 01 (Orange Red) - Menu by Apycom.com</title>
    <link type="text/css" href="http://s288581967.onlinehome.fr/LIVE/menu.css" rel="stylesheet" />
    <script type="text/javascript" src="http://s288581967.onlinehome.fr/LIVE/jquery.js"></script>
    <script type="text/javascript" src="http://s288581967.onlinehome.fr/LIVE/menu.js"></script>
</head>
<body>

<style type="text/css">
* { margin:0;
    padding:0;
}
body { background:rgb(74,81,85); }
div#menu { margin:5px auto;
			top:30px;
    		left:0px;
			width:1100px;
}
</style>
<table border='0' cellpadding="0" cellspacing='1' width='1100' align="left">
<tr>
<td valign="top">
<div id="menu"><a href="http://apycom.com/"></a>
    <ul class="menu">
    	<li><a href="/index.php"><span>Accueil</span></a></li>
        <li><a href="/accueil_service.php" class="parent"><span>Nos services</span></a>
            <ul>
                <li><a href="/service_cyclisme.php"><span>Cyclisme</span></a></li>
                <li><a href="/service_athletisme.php"><span>Athl&eacute;tisme</span></a></li>
                <li><a href="/service_masse.php"><span>Courses de Masse</span></a></li>
                <li><a href="/service_motor.php"><span>Motorsport</span></a></li>
                <li><a href="/service_ski.php"><span>Ski</span></a></li>
                <li><a href="http://www.matsportiming.com" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/accueil_techno.php" class="parent"><span>Mat&eacute;riels utilis&eacute;s</span></a>
            <ul>
                <li><a href="/chonometrage.php"><span>Chronom&eacute;trages</span></a></li>
                <li><a href="/puces_trans.php"><span>Puces & Transpondeurs</span></a></li>
                <li><a href="/affichages.php"><span>Affichages </span></a></li>
            </ul>
       	</li>
        <li><a href="/images/cyclisme/accueil_cylisme.php" class="parent"><span>Cyclisme</span></a>
            <ul>
                <li><a href="/service_cyclisme.php"><span>Nos services</span></a></li>
                <li><a href="/calendrier_fr.php?an=&Sport=3" class="parent"><span>Calendrier</span></a>
                	<ul>
                		<li><a href="/calendrier_fr.php?an=2009&Sport=3"><span>2009</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=3"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=3"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=3"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=3"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=3"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=3"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=3"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="/resultat/resultat.php5?code_course=CYC&menu=1&type=1"><span>Live</span></a></li>
                <li><a href="http://www.permanence.matsport.fr" target="_blank"><span>Permanence</span></a></li>
                <li><a href="#"><span>Espace Journaliste</span></a></li>
                <li><a href="http://www.matsportiming.com/univers_produit.php?id=2&title=4&pub=True" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/images/athletisme/accueil_athle.php" class="parent"><span>Athl&eacute;tisme</span></a>
            <ul>
                <li><a href="/service_athletisme.php"><span>Nos services</span></a></li>
                <li><a href="/calendrier_fr.php?an=&Sport=4" class="parent"><span>Calendrier</span></a>
                	<ul>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=4"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=4"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=4"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=4"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=4"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=4"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=4"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="http://www.matsportiming.com/univers_produit.php?id=1&title=4&pub=True" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/images/masse/accueil_masse.php" class="parent"><span>Courses de masse</span></a>
            <ul>
                <li><a href="/service_masse.php"><span>Nos services</span></a></li>
                <li><a href="/calendrier_fr.php?an=&Sport=5" class="parent"><span>Calendrier</span></a>
                	<ul>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=5"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=5"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=5"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=5"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=5"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=5"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=5"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="/masse/index.php?an=2013&code_course=GVI&menu=0&type=2&Num_Menu=10&DebutDossard=1&DebutAlpha=A"><span>Live</span></a></li>
                <li><a href="#"><span>Inscriptions</span></a></li>
                <li><a href"http://www.matsportiming.com/univers_produit.php?id=4&title=4&pub=True" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/images/motor/accueil_rallye.php" class="parent"><span>Motorsport</span></a>
            <ul>
                <li><a href="/service_motor.php"><span>Nos services</span></a></li>
                <li><a href="/calendrier_fr.php?an=&Sport=6" class="parent"><span>Calendrier</span></a>
                	<ul>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=6"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=6"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=6"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=6"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=6"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=6"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=6"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="http://www.matsportiming.com/univers_produit.php?id=6&title=4&pub=False" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/images/ski/accueil_ski.php" class="parent"><span>Ski</span></a>
            <ul>
                <li><a href="/service_ski.php"><span>Nos services</span></a></li>
                <li><a href="/calendrier_fr.php?an=&Sport=7" class="parent"><span>Calendrier</span></a>
                	<ul>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=7"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=7"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=7"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=7"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=7"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=7"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=7"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="http://www.skitiming.fr/" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="/accueil_divers.php" class="parent"><span>Divers</span></a>
            <ul>
                <li><a href="/calendrier_fr.php?an=&Sport=8" class="parent"><span>Calendrier</span></a>
                	<ul>
                    	<li><a href="/calendrier_fr.php?an=2009&Sport=8"><span>2009</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2010&Sport=8"><span>2010</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2011&Sport=8"><span>2011</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2012&Sport=8"><span>2012</span></a></li>
                		<li><a href="/calendrier_fr.php?an=2013&Sport=8"><span>2013</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2014&Sport=8"><span>2014</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2015&Sport=8"><span>2015</span></a></li>
                        <li><a href="/calendrier_fr.php?an=2016&Sport=8"><span>2016</span></a></li>
            		</ul>
                </li>
                <li><a href="http://www.matsportiming.com" target="_blank"><span>Vente de mat&eacute;riels</span></a></li>
            </ul>
       	</li>
        <li><a href="mailto:info@matsport.com"><span>Contactez-nous</span></a></li>
        <li class="last"><a href="/nous.php"><span>Qui sommes nous ?</span></a></li>
    </ul>
</div>
</body>
</html>
</td>
</tr>
</table>                </td>
                </tr>
                <tr>
                    <td colspan="2" height="100%" valign="top" align="center"><head>
<SCRIPT LANGUAGE="JavaScript">
function affichage_popup(nom_de_la_page, nom_interne_de_la_fenetre)
{
window.open (nom_de_la_page, "nom_interne_de_la_fenetre", "height=600, width=600, channelmode=no, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, directories=no, status=no")
}
</SCRIPT>

<script type="text/javascript" src="./swfobject.js"></script>
</head>
<body oncontextmenu="return false">
<div id="fb-root"></div>

</script>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr valign="top">
        <td colspan="2" valign="top">
        ﻿
<table width="100%">
<tr valign="top">
	<td valign="top">
<table border='0' cellspacing='1' cellpadding='0'>
<tr height="37" align="left">
<td background="./../images/tab_green.png" width="86" align="center">
        <a href="./index.php?an=2010&code_course=24R&type=1&menu=0&DebutDossard=1&DebutAlpha=A">
        <div class="Style3">2010</div></a></td><td background="./../images/tab_green.png" width="86" align="center">
        <a href="./index.php?an=2011&code_course=24R&type=1&menu=0&DebutDossard=1&DebutAlpha=A">
        <div class="Style3">2011</div></a></td><td background="./../images/tab_green.png" width="86" align="center">
        <a href="./index.php?an=2012&code_course=24R&type=1&menu=0&DebutDossard=1&DebutAlpha=A">
        <div class="Style3">2012</div></a></td><td background="./../images/tab_green.png" width="86" align="center">
        <a href="./index.php?an=2013&code_course=24R&type=1&menu=0&DebutDossard=1&DebutAlpha=A">
        <div class="Style3">2013</div></a></td><td background="./../images/tab_red.png" align="center" width="86"><div class="Style2"><b>2014</b></div></td><td background="./../images/tab_green.png" width="86" align="center">
        <a href="./index.php?an=2015&code_course=24R&type=1&menu=0&DebutDossard=1&DebutAlpha=A">
        <div class="Style3">2015</div></a></td></tr>
</table>
<table border='0' cellpadding="0" cellspacing='0'>
<tr>
<td>
<form method="post" action="./index.php?an=2014&menu=2&DebutDossard=1&DebutAlpha=A" enctype="multipart/form-data"><SELECT name="A_Spliter">


            	                        <OPTION VALUE="50M#2">09/03/2014 Championnat de France 50 km Marche</OPTION>

            	                        <OPTION VALUE="20M#2">09/03/2014 Championnat de France 20 km Marche M</OPTION>

            	                        <OPTION VALUE="20F#2">09/03/2014 Championnat de France 20 km Marche F</OPTION>

            	                        <OPTION VALUE="10M#2">09/03/2014 Epreuve de sélection 10 km Marche JUM</OPTION>

            	                        <OPTION VALUE="10F#2">09/03/2014 Epreuve de sélection 10 km Marche JUF</OPTION>

            	                        <OPTION VALUE="SP1#2">29/03/2014 Cross National Sapeurs Pompiers - Cadettes</OPTION>

            	                        <OPTION VALUE="SP2#2">29/03/2014 Cross National Sapeurs Pompiers - Cadets</OPTION>

            	                        <OPTION VALUE="SP3#2">29/03/2014 Cross National Sapeurs Pompiers - Juniors F</OPTION>

            	                        <OPTION VALUE="SP4#2">29/03/2014 Cross National Sapeurs Pompiers - Juniors M</OPTION>

            	                        <OPTION VALUE="SP5#2">29/03/2014 Cross National Sapeurs Pompiers - Seniors F</OPTION>

            	                        <OPTION VALUE="SP6#2">29/03/2014 Cross National Sapeurs Pompiers - Seniors M</OPTION>

            	                        <OPTION VALUE="SP7#2">29/03/2014 Cross National Sapeurs Pompiers - Vétérans F</OPTION>

            	                        <OPTION VALUE="SP8#2">29/03/2014 Cross National Sapeurs Pompiers - Vétérans 1 M</OPTION>

            	                        <OPTION VALUE="SP9#2">29/03/2014 Cross National Sapeurs Pompiers - Vétérans 2 M</OPTION>



            	                        <OPTION VALUE="FDP#2">13/04/2014 Féminine de Pau - Printemps</OPTION>

            	                        <OPTION VALUE="H21#2">13/04/2014 Humarathon - Semi Marathon</OPTION>

            	                        <OPTION VALUE="H10#2">13/04/2014 Humarathon - 10 km</OPTION>

            	                        <OPTION VALUE="H05#2">13/04/2014 Humarathon - 5 km</OPTION>

            	                        <OPTION VALUE="HTR#2">13/04/2014 Humarathon - Trail Urbain</OPTION>

            	                        <OPTION VALUE="3CL#2">27/04/2014 Montée des 3 Communes</OPTION>

            	                        <OPTION VALUE="3CC#2">27/04/2014 Montée des 3 Communes - Cadets et Vétérans 4</OPTION>

            	                        <OPTION VALUE="3CM#2">27/04/2014 Montée des 3 Communes - Marche</OPTION>


            	                        <OPTION VALUE="F24#1">31/05/2014 01/06/2014 Les 24 Heures de Roche la Molière </OPTION>

            	                        <OPTION VALUE="ECH#2">01/06/2014 10 km Echirolles</OPTION>

            	                        <OPTION VALUE="S01#2">07/06/2014 Triathlon du Salagou - S Individuel</OPTION>

            	                        <OPTION VALUE="S02#2">07/06/2014 Triathlon du Salagou - S Relais</OPTION>

            	                        <OPTION VALUE="S03#2">07/06/2014 Triathlon du Salagou - Kids Benjamins</OPTION>

            	                        <OPTION VALUE="S04#2">07/06/2014 Triathlon du Salagou - Kids Pupilles</OPTION>

            	                        <OPTION VALUE="S05#2">07/06/2014 Triathlon du Salagou - Kids Poussins</OPTION>

            	                        <OPTION VALUE="S06#2">07/06/2014 Triathlon du Salagou - S Entreprise</OPTION>

            	                        <OPTION VALUE="S07#2">07/06/2014 Triathlon du Salagou - M  Individuel</OPTION>

            	                        <OPTION VALUE="S08#2">07/06/2014 Triathlon du Salagou - M Relais</OPTION>

            	                        <OPTION VALUE="S09#2">08/06/2014 Triathlon du Salagou - XS  Individuel</OPTION>

            	                        <OPTION VALUE="S10#2">08/06/2014 Triathlon du Salagou - XS Relais</OPTION>

            	                        <OPTION VALUE="S11#2">08/06/2014 Triathlon du Salagou - Cross  Individuel</OPTION>

            	                        <OPTION VALUE="S12#2">08/06/2014 Triathlon du Salagou - Cross Relais</OPTION>

            	                        <OPTION VALUE="S13#2">08/06/2014 Triathlon du Salagou - L  Individuel</OPTION>

            	                        <OPTION VALUE="S14#2">08/06/2014 Triathlon du Salagou - L  Relais</OPTION>

            	                        <OPTION VALUE="CAN#3">14/06/2014 Cancellara Challenge</OPTION>









            	                        <OPTION VALUE="24R#1" selected="selected">28/06/2014 29/06/2014 24H du Mans Roller</OPTION>

            	                        <OPTION VALUE="10L#2">06/09/2014 10 km de Lille</OPTION>

            	                        <OPTION VALUE="SLI#2">06/09/2014 Semi Marathon International de Lille</OPTION>

            	                        <OPTION VALUE="TV1#2">06/09/2014 Ultra Trail du Vercors - Solo</OPTION>

            	                        <OPTION VALUE="TV2#2">06/09/2014 Ultra Trail du Vercors - Duo</OPTION>

            	                        <OPTION VALUE="TV4#2">06/09/2014 Ultra Trail du Vercors  Relais à 4</OPTION>

            	                        <OPTION VALUE="GR1#2">07/09/2014 10km Courir à Grenoble</OPTION>

            	                        <OPTION VALUE="GR2#2">07/09/2014 La Grenobloise</OPTION>

            	                        <OPTION VALUE="GEN#3">27/09/2014 La Gentleman du Coeur</OPTION>


            	                        <OPTION VALUE="24G#1">04/10/2014 05/10/2014 24 Heures de Grenoble</OPTION>

            	                        <OPTION VALUE="PIM#2">05/10/2014 Marathon-relais du Mans</OPTION>


            	                        <OPTION VALUE="EKI#2">19/10/2014 Ekiden de Grenoble</OPTION>


            	                        <OPTION VALUE="EKP6#2">02/11/2014 03/11/2014 Ekiden de Paris</OPTION>

            	                        <OPTION VALUE="EKP4#2">02/11/2014 03/11/2014 Marathon Relais de Paris (Eq 4)</OPTION>

            	                        <OPTION VALUE="FDA#2">09/11/2014 Féminine de Pau - Automne</OPTION>

            	                        <OPTION VALUE="ICE#2">13/12/2014 Cross des Enfants Malades - Comités d'Entreprise</OPTION>

            	                        <OPTION VALUE="IGP#2">13/12/2014 Cross des Enfants Malades - Grand Public</OPTION>

            	                        <OPTION VALUE="ILY#2">13/12/2014 Cross des Enfants Malades - Lycéens</OPTION>
                	</SELECT>
<input type="submit" name="envoyer" value="Sélectionner">
</form>
</td>
</tr>
</table>
</td>
</tr>
<tr valign="top">
   <td valign="top" align="left"><font face="Arial, Helvetica, sans-serif" style="font-size:30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24H du Mans Roller 2014</font></strong></td>
        </tr>
</table>

	</td>
</tr>
<tr>
<td valign="top" width="150">
﻿<table cellpadding="0" cellspacing="0" width="150">
<tr>
	<td height="20">&nbsp;</td>
</tr>
<tr>
</tr>
<tr height='40'><td background='./images/bleu.png' align='left'><a href='./index.php?an=2014&code_course=24R&menu=2&type=1&Num_Menu='>&nbsp;&nbsp;&nbsp;&nbsp;<span class='Style2'><b>Liste des concurrents</b></span></a></td></tr><tr height='40'><td background='./images/orange.png' align='left'><a href='./index.php?an=2014&code_course=24R&menu=1&type=1&Num_Menu='>&nbsp;&nbsp;&nbsp;&nbsp;<span class='Style2'><b>Classements</b></span></a></td></tr></tr>
<tr>
<td background="./images/rouge.png" height='40' align='left'>
	<a href="./index.php?an=2014&code_course=24R&menu=5&type=1&Num_Menu="><span class='Style2'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PDF</b></span></a>
</td>
</tr>
<tr>
	<td align="center" height="20">&nbsp;
   	</td>
</tr>
<tr>
	<td align='left'>
    <div class="fb-like" data-href="www.facebook.com/matsport.timing" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
	</td>
</tr>
<tr>
<td height='40' align='left'>
	<b><span class="Style3">Chronométrage Live by </span><a href="http://www.matsportiming.com" target="_blank"><span class="Style6">Matsport</span></a><a href="http://www.matsportiming.com" target="_blank"><span class="Style3"> Timing.</span></a></b>
</td>
</tr>
</table></td>
<td valign="top" width="900">﻿<table border='0' cellspacing='0' width='99%'>
<tr>
<tr>
		<td align="right" width="100%">
		<table border="0" cellspacing="0" cellpadding="2" align="right">
                <tr>
                <td align="right" valign="middle">
                <form method="post" action="./index.php?an=2014&code_course=24R&menu=1&type=1&Num_Menu=&Num=&user=">
                <input type="text" name="InfoSearch" id="textfield"/>
                <input type="radio" name="DosNom" value="0" id="DosNom_0" />
                <span class="Style9">Bib</span>
                <input type="radio" name="DosNom" value="1" id="DosNom_1" />
                <span class="Style9">Name (3 characters minimum)</span>
                <input name="Rechercher" type="Submit" value="Search"/>
                </form>
                </td>
                </tr>
                </table>
		</td>
		</tr>
<td align='right'>
<a href="#bas"><img src="./images/down-icon.png" border="0" height="20"/>
</a>
<a name="haut"></a>
</td>
</tr>
<tr>
	<td align='center'><div class='Style16'><b>Classement de l'épreuve</b></div></td>
</tr>
</table>
<table border='0' cellspacing='0' width='99%'>
<tr bgcolor="#999999" width='100%'>         			<td align="left"><div class='Style2'><b>Pos.</b></div></td>
                     			<td align="left"><div class='Style2'><b>N°</b></div></td>
                     			<td align="left"><div class='Style2'><b>Nom</b></div></td>
                     			<td align="left"><div class='Style2'><b>Temps</b></div></td>
                     			<td align="left"><div class='Style2'><b>Tours</b></div></td>
                     			<td align="left"><div class='Style2'><b>Ecart /prec.</b></div></td>
                     			<td align="left"><div class='Style2'><b>Distance</b></div></td>
                     			<td align="left"><div class='Style2'><b>Km/h</b></div></td>
                     			<td align="left"><div class='Style2'><b>Meilleur tour</b></div></td>
                     			<td align="left"><div class='Style2'><b>Pos. cat.</b></div></td>
                     			<td align="left"><div class='Style2'><b>Catégorie</b></div></td>

            </tr>
         	{% for entry in entries %}
                 {% include "AppBundle:Matsport:entry.html.twig" %}
             {% endfor %}</table>
<table border='0' cellspacing='0' width='99%'>
<tr>
<td align='right'>
<a href="#haut"><img src="./images/up-icon.png" border="0" height="20"/>
</a>
<a name="bas"></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
