{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Racer{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Racer{% endtrans %}</h1>

    {{ include('racer/_form.html.twig') }}

    <a href="{{ path('racer_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
