{% extends 'base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}

{% block body %}
<p>{% trans %}Prochains arrivées{% endtrans %} :</p>
<ul>
{% for arrival in arrivals %}
<li>{{ arrival.team.name }}: {{ arrival.racer }} {{ arrival.arrival | date('H:i:s') }}</li>
{% endfor %}
<ul>

{% endblock %}
