{% extends 'base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('stats_arrivals') }}">{% trans %}Prochaines arrivées{% endtrans %}</a></li>
    <li><a href="{{ path('stats_best_laps') }}">{% trans %}Meilleurs tours{% endtrans %}</a></li>
</ul>

{% endblock %}
