{% extends 'base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Timing creation{% endtrans %}</h1>

    {{ include('Timing/_form.html.twig') }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('timing') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
