{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team list</h1>

    <table class="records_list table table-condensed table-hover table-stripped table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nb Heure Pause</th>
                <th>Nb Personnes</th>
                <th>Color</th>
                <th>ID Reference</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% include "AppBundle:Team:line.html.twig" with { "team": entity } %}
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('team_new') }}">
                Créer une nouvelle équipe
            </a>
        </li>
    </ul>
    {% endblock %}
