{% extends 'base.html.twig' %}

{% block title %}Edit RacerPause{% endblock %}

{% block body %}
    <h1>Edit RacerPause</h1>

    {{ include('racer_pause/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('racerpause') }}">back to list</a>

    {{ include('racer_pause/_delete_form.html.twig') }}
{% endblock %}
