{% extends 'base.html.twig' %}

{% block title %}New RacerPause{% endblock %}

{% block body %}
    <h1>Create new RacerPause</h1>

    {{ include('racer_pause/_form.html.twig') }}

    <a href="{{ path('racerpause') }}">back to list</a>
{% endblock %}
