{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Racer list{% endtrans %}</h1>

    <table class="records_list table table-condensed table-stripped table-bordered table-hover table-datatable">
        <thead>
            {% include "AppBundle:Racer:header.html.twig" %}
        </thead>
        <tbody>
        {% for entity in entities %}
            {% include "AppBundle:Racer:line.html.twig" with {"racer": entity } %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
    <li>
        <a href="{{ path('racer_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% include 'AppBundle::datatables/table.html.twig' %}
{% endblock %}
