{% extends "base.html.twig" %}

{% block body %}
Admin NR

{% if link_paddock %}
<p><a href="{{ link_paddock }}" target="_blank">Accéder au tableau de bord des paddocks</a></p>
{% endif %}

{% if link_track %}
<p><a href="{{ link_track }}" target="_blank">Accéder au tableau de bord de la piste (Jour, blanc)</a></p>
<p><a href="{{ link_track_night }}" target="_blank">Accéder au tableau de bord de la piste (Nuit, noir)</a></p>
{% endif %}

{% endblock %}
