{% extends "base.html.twig" %}

{% block body %}
Admin NR

<!--
<p><a href="http://dash-nr.adellia.yoda-bzh.net/paddock1" target="_blank">Accéder au tableau de bord des paddocks</a></p>
<p><a href="http://dash-nr.adellia.yoda-bzh.net/piste" target="_blank">Accéder au tableau de bord de la piste</a></p>
-->
{% endblock %}
