{% extends "::base.html.twig" %}

{% block title %}AppBundle:Emulation:compare{% endblock %}

{% block body %}
<h1>Welcome to the Emulation:list page</h1>

<ul>
{% for team in teams %}
    <li><a href="{{ path('compare_team', { 'id': team.id }) }}">{{ team.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
